@media screen and (min-width: 100px) {
  .topcardholder {
    visibility: hidden;
  }
  .header-container {
    .topnav, .dropdown-content, .dropbtn {
      font-size: 12px;
    }
    .home {
      display: none;
    }
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 24px;
    }
  }
  button {
     padding: 10px 20px;
      font-size: 12px;
      border-radius: 20px;
      width: 120px;
  }
  
}

@media screen and (max-width: 615px) {
  .timeline, .timelinetitle {
    display: none;
  }
}

@media screen and (max-width: 890px) {
  .topcardholder {
    visibility: hidden;
  }
  .header-container {
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 24px;
    }
  }
  
}


@media screen and (min-width: 891px) {
  .header-container {
    h1 {
      font-size: 60px;
    }
    h2 {
      font-size: 24px;
    }
  }
  button {
      padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    width: 200px;
  }
  .header-container {
    .topnav, .dropdown-content, .dropbtn {
      font-size: 20px;
    }
  }
}


@media screen and (min-width: 950px) {
  .header-container {
    h1 {
      font-size: 65px;
    }
    h2 {
      font-size: 24px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .header-container {
    h1 {
      font-size: 75px;
    }
    h2 {
      font-size: 24px;
    }
  }
}


.topnav {
  overflow: hidden;
  color: #ffffff;
  font-family: "verdana", "sans-serif";
  display: flex; /* Enables Flexbox */
  justify-content: space-between; /* Pushes flex items to the far ends */
  align-items: center;
  margin-right: 20px;
}

.header-container {
  background-image: url(./ewbackground.jpg);
  background-size: cover;
}

.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "verdana", "sans-serif";
}

.topnav a:hover {
  color: #0065B2;
}

.topnav a.active {
  text-decoration: underline;
  text-decoration-color: #0065B2;
}

a:link {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: rgb(15, 162, 42);
}

a:active {
  color: rgb(15, 162, 42);
}

body {
    margin: 0;
    padding: 0;
}

button {
    font-family: "verdana", "sans-serif";
    background-color: #0065B2;
    color: white;
    border: none;
    cursor: pointer;
   
}
button:hover {
    background-color: #ABCAE9;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: "verdana", "sans-serif";
    /* color: #ffffff; */
}

.header-content {
    color: white;
    text-align: left;
    margin-left: 70px;
    width: 50%;
    padding: 100px 20px;
}

.lower-container {
    background-image: url(./worldbackground.png);
    background-repeat: repeat-y;
    background-size: 100% auto;
}

.lower-content {
    text-align: center;
    color: black;
    padding: 100px 20px;
    width: 50%;
    margin: 0 auto;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
  transition: 0.3s;
  width: 30%;
  background-color: white;
  text-align: center;
  padding-bottom: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cardcontainer {
  padding: 2px 16px;
}

.cardholder {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center; 
  flex-wrap: wrap;
  /* margin-top: 20px; */
}

.topcardholder {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center; 
  flex-wrap: wrap;
  /* margin-top: 20px; */
  position: absolute;
  top: 650px;
  z-index: 1;
}



.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timelinecontainer {
  padding: 0px 40px;
  position: relative;
  /* background-color: inherit; */
  width: 50%;
}

/* The circles on the timeline */
.timelinecontainer::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: black;
  /* border: 4px solid #FF9F55; */
  top: 0px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -80px;
}

/* Place the container to the right */
.right {
  left: 50%;
}


/* Fix the circle for containers on the right side */
.right::after {
  left: -13px;
}

/* The actual content */
.content {
  padding: 0px 10px;
  /* background-color: white; */
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure all circles are at the same spot */
  .left::after{
    left: 100px;
  }
  .right::after{
    left: 18px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.timelinecontainer a,
.timelinecontainer a:link,
.timelinecontainer a:visited,
.timelinecontainer a:active,
.timelinecontainer a:focus {
  color: black;
  text-decoration: none;
  font-family: "verdana", "sans-serif";
}

.timelinecontainer a:hover {
  color: #0065B2;
}


.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  /* position: relative; */
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#ABCAE9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover {background-color: #ddd;} */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: transparent; color: #0065B2;}